
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* Game UI */
/* 
https://getbootstrap.com/docs/4.1/components/alerts/
https://material.io/tools/icons/?icon=sentiment_satisfied&style=round
http://google.github.io/material-design-icons/#getting-icons
*/

div {
    color: #fff;
}

.uibg {
    background-color: rgb(76, 76, 83);
}

.uiheader {
    background-color: rgb(47, 48, 48);
}

.card {
    border: 0px;
}

#map .under-construction {
    border: 3px dotted;
    line-height: 26px;
    border-color: rgb(187, 84, 0);
}

#map .valid {
    border: 3px solid; 
    border-color: #106914;
    line-height: 26px;
}

#map .invalid {
    border: 3px solid; 
    border-color: #ad0303;
    line-height: 26px;
}

/* Waste ventura stuff */

g.water1 { fill: rgba(0,212,255,1); }
g.water2 { fill: rgba(75,124,254); }
g.water3 { fill: rgba(9,9,121,1); }

g.toxic1 { fill: rgba(222,75,254,1); }
g.toxic2 { fill: rgba(182,62,229,1); }
g.toxic3 { fill: rgba(136,48,200,1); }
g.toxic4 { fill: rgba(93,35,173,1); }

g.land1 { fill: rgb(164, 191, 120); }
g.land2 { fill: rgb(191, 187, 120); }
g.land3 { fill: rgb(191, 157, 120); }

.hover {
    stroke: rgb(1, 238, 255);
    stroke-width: 5;
}

.line-empty {
    stroke: rgba(92, 139, 168, 0.179);
    stroke-width: 12;
}

.line-waterway {
    stroke: rgb(113, 156, 199);
    stroke-width: 15;
}

.line-hover{
    stroke: rgb(1, 238, 255);
    stroke-width: 15;
}

.corner-empty {
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(92, 139, 168, 0.274);
}
.corner-power {
    fill: rgb(197, 149, 28);
}

.corner-hover{
    stroke: rgb(1, 238, 255);
    stroke-width: 2;
}

.selected{
    stroke: rgb(255, 255, 255);
    stroke-width: 4;
    stroke-dasharray: 5 10; /* add a dashed stroke */
    stroke-linecap: round; /* make the stroke ends rounded */
}

.canal-dry {
    fill: rgba(157, 160, 161, 0.35);
}
.canal-watered {
    fill: rgba(77, 176, 196, 0.35);
}
.canal-empty {
    stroke-width: 1;
}
.canal-piped {
    stroke-width: 5;
}


.debugText {
    font-size: 20px;
    font-family: monospace;
    fill: black;
    stroke: black;
    stroke-width: 0.5px;
    text-anchor: middle;
    pointer-events: none; /* CRB: makes it unhoverable */
}

#metricPreview {
    position: absolute;
    padding:0.75rem;
    z-index: 1;
}

.table td {
    vertical-align: middle;
}